- op: replace
  path: /metadata/name
  value: SERVICE_NAME-deployment
- op: replace
  path: /metadata/namespace
  value: NAMESPACE
- op: replace
  path: /metadata/labels/app
  value: SERVICE_NAME
- op: replace
  path: /spec/replicas
  value: REPLICA_COUNT
- op: replace
  path: /spec/selector/matchLabels/app
  value: SERVICE_NAME
- op: add
  path: /spec/template/metadata/labels/app
  value: SERVICE_NAME
- op: replace
  path: /spec/template/spec/containers/0/image
  value: DOCKER_IMAGE
- op: add
  path: /spec/template/spec/containers/0/volumeMounts
  value: 
    - name: SERVICE_NAME-volume
      mountPath: /usr/src/app/configuration/
- op: add
  path: /spec/template/spec/containers/0/env
  value:
    - name: CONF_FILE
      value: /usr/src/app/configuration/SERVICE_NAME-definition.yaml
- op: add
  path: /spec/template/spec/volumes
  value: 
    - name: SERVICE_NAME-volume
      configMap: 
        name: SERVICE_NAME-config

